<!DOCTYPE html>
<html lang="en">

<head>
    <title> Game Page </title>
</head>

<body>
    <h1> Game Title: <%= title %></h1>
    <% if(title == "Fortnite"){ %>
        <p> Description: </p>
    <% } else{ %>
        <p> Description: We do not know what game this is </p>
        <% } %>
    <h3> Game Author: <%= author %></h3>
</body>

</html>